* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    width: fit-content;
}

.image, .book-info {
    padding: 1rem;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}